#1 Match Data

In [26]:
import pandas as pd
import json

In [28]:
with open('Match_Summary.json') as f:
  data = json.load(f)

df_match = pd.DataFrame(data[0]['Match_Summary'])
df_match.head()

,home_team,away_team,score,attendance,venue,winner,match_card
0,Qatar,Ecuador,0-2,67372,Al Bayt Stadium,Ecuador,WC2022 #001
1,England,IR Iran,6-2,45334,Khalifa International Stadium,England,WC2022 #002
2,Senegal,Netherlands,0-2,41721,Al Thumama Stadium,Netherlands,WC2022 #003
3,United States,Wales,1-1,43418,Ahmed bin Ali Stadium,Wales,WC2022 #004
4,Argentina,Saudi Arabia,1-2,88012,Lusail Iconic Stadium,Saudi Arabia,WC2022 #005

In [29]:
df_match.rename({'match_card' : 'match_id'}, axis = 1, inplace = True)
df_match.head()

,home_team,away_team,score,attendance,venue,winner,match_id
0,Qatar,Ecuador,0-2,67372,Al Bayt Stadium,Ecuador,WC2022 #001
1,England,IR Iran,6-2,45334,Khalifa International Stadium,England,WC2022 #002
2,Senegal,Netherlands,0-2,41721,Al Thumama Stadium,Netherlands,WC2022 #003
3,United States,Wales,1-1,43418,Ahmed bin Ali Stadium,Wales,WC2022 #004
4,Argentina,Saudi Arabia,1-2,88012,Lusail Iconic Stadium,Saudi Arabia,WC2022 #005

In [30]:
df_match.to_csv('Match_Summary.csv', index = False)

Data Cleaning Dictionary

In [31]:
replacement_dict = {
    'Å¡': 'š',
    'Ã¡': 'á',
    'Ã¢': 'â',
    'Ã£': 'ã',
    'Ã¤': 'ä',
    'Ã¦': 'æ',
    'Ã§': 'ç',
    'Ã¨': 'è',
    'Ã©': 'é',
    'Å«': 'ū',
    'Ã«': 'ë',
    'Ã¯': 'ï',
    'Ä°': 'İ',
    'Ã±': 'ñ',
    'Ã¶': 'ö',
    'Ã¸': 'ø',
    'Ä‘': 'đ',
    'Å‚': 'ł',
    'Ã“': 'Ó',
    'Å„': 'ń',
    'Ä‡': 'ć',
    'Ä…': 'ą',
    'Ã‰': 'É',
    'Å›': 'ś',
    'Ä™': 'ę',
    'Ãº': 'ú',
    'Ã¼': 'ü',
    'ÄŸ': 'ğ',
    'Ä': 'č',
    'Ã': 'Á',
    'Ã³': 'ó',
    'Å½': 'Ž',
    'Åš': 'Ś',
    'Ä': 'Đ',
    '\xad': 'í',
    'Ã': 'í',
    '\x89': 'É',
    '\x91': 'đ',
    '\x93': 'Ó',
    '\x99': 'ę',
    '\x9a': 'Ś',
    '\x9b': 'ś',
    '\x9f': 'ğ',
    '\x81': 'Ł',
    '»': 'Ż'
}

#2 Player Data

In [32]:
with open ('Player_Stats.json') as f:
  data = json.load(f)

df_players = pd.DataFrame(data[0]['player_stats'])
df_players.head()

                 player position       team  age        club  birth_year
0            Aaron Mooy       MF  Australia   32      Celtic        1990
1          Aaron Ramsey       MF      Wales   31        Nice        1990
2     Abdelhamid Sabiri       MF    Morocco   26   Sampdoria        1996
3     Abdelkarim Hassan       DF      Qatar   29  Al Sadd SC        1993
4  Abderrazak Hamdallah       FW    Morocco   32  Al-Ittihad        1990

Finding Special Characters and Cleaning Names

In [33]:
import re

player_names = df_players["player"]

special_characters = []

# Iterate through each player's name
for player_name in player_names:
    special_chars = re.findall(r'[^\w\s]', player_name)  # Find special characters
    special_characters.extend(special_chars)  # Add special characters to the list

# Remove duplicates and sort the list
special_characters = sorted(list(set(special_characters)))

print("List of special characters:", special_characters)

List of special characters: ["'", '-', '\x81', '\x8d', '\x90', '¡', '¢', '£', '¤', '¦', '§', '¨', '©', '«', '\xad', '¯', '°', '±', '¶', '¸', '‘', '‚', '“', '„', '‡', '…', '‰', '›', '™']

Cleaning

In [34]:
df_players['player'] = df_players['player'].replace(replacement_dict, regex=True)
df_players['team'] = df_players['team'].replace(replacement_dict, regex=True)

In [35]:
df_players.to_csv('Player_Stats.csv', index = False)

#3 GoalKeeper Stats

In [36]:
with open('Goalkeeper_Stats.json') as f:
  data = json.load(f)

df_Goalkeepers = pd.DataFrame(data[0]['Goalkeeper_Stats'])
df_Goalkeepers.head()

,player,position,team,age,club,birth_year,gk_games,gk_games_starts,gk_minutes,minutes_90s,...,gk_wins,gk_ties,gk_losses,gk_clean_sheets,gk_clean_sheets_pct,gk_pens_att,gk_pens_allowed,gk_pens_saved,gk_pens_missed,gk_pens_save_pct
0,Aimen Dahmen,GK,Tunisia,25-324,CS Sfaxien,1997,3,3,270,3.0,...,1,1,1,2,66.7,0,0,0,0,NaN
1,Alireza Beiranvand,GK,IR Iran,30-088,Persepolis,1992,2,2,109,1.2,...,0,0,1,0,0.0,0,0,0,0,NaN
2,Alisson,GK,Brazil,30-077,Liverpool,1992,4,4,379,4.2,...,2,1,0,2,50.0,0,0,0,0,NaN
3,Andries Noppert,GK,Netherlands,28-255,Heerenveen,1994,5,5,480,5.3,...,3,2,0,2,40.0,1,1,0,0,0.0
4,AndrÃ© Onana,GK,Cameroon,26-260,Inter,1996,1,1,80,0.9,...,0,0,1,0,0.0,0,0,0,0,NaN

Finding Special Characters

In [37]:
player_names = df_Goalkeepers["player"]

special_characters = []

# Iterate through each player's name
for player_name in player_names:
    special_chars = re.findall(r'[^\w\s]', player_name)  # Find special characters
    special_characters.extend(special_chars)  # Add special characters to the list

# Remove duplicates and sort the list
special_characters = sorted(list(set(special_characters)))

print("List of special characters:", special_characters)

List of special characters: ['-', '\x87', '\x99', '¡', '©', '«', '\xad']

Cleaning Data

In [38]:
df_Goalkeepers['player'] = df_Goalkeepers['player'].replace(replacement_dict, regex=True)
df_Goalkeepers['team'] = df_Goalkeepers['team'].replace(replacement_dict, regex=True)

In [40]:
df_Goalkeepers.to_csv('Goalkeeper_Stats.csv', index = False)

#4 Defense Stats

In [41]:
with open('Player_Defense_Stats.json') as f:
  data = json.load(f)

df_Defense = pd.DataFrame(data[0]['Player Defense'])
df_Defense.head()

,player,position,team,age,birth_year,minutes_90s,tackles,tackles_won,tackles_def_3rd,tackles_mid_3rd,...,dribbles_vs,dribble_tackles_pct,dribbled_past,blocks,blocked_shots,blocked_passes,interceptions,tackles_interceptions,clearances,errors
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,9.0,6,4.0,4.0,...,8.0,75.0,2.0,6.0,4.0,2.0,3,12.0,9.0,0.0
1,Aaron Ramsey,MF,Wales,31-357,1990,3.0,2.0,0,0.0,2.0,...,2.0,0.0,2.0,4.0,1.0,3.0,0,2.0,2.0,1.0
2,Abdelhamid Sabiri,MF,Morocco,26-020,1996,2.0,3.0,1,1.0,2.0,...,6.0,33.3,4.0,3.0,1.0,2.0,5,8.0,3.0,0.0
3,Abdelkarim Hassan,DF,Qatar,29-112,1993,3.0,7.0,3,5.0,2.0,...,4.0,75.0,1.0,3.0,1.0,2.0,1,8.0,5.0,0.0
4,Abderrazak Hamdallah,FW,Morocco,48214.000116,1990,0.8,0.0,0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0,0.0,2.0,0.0

Finding Special Characters

In [42]:
player_names = df_Defense["player"]

special_characters = []

# Iterate through each player's name
for player_name in player_names:
    special_chars = re.findall(r'[^\w\s]', player_name)  # Find special characters
    special_characters.extend(special_chars)  # Add special characters to the list

# Remove duplicates and sort the list
special_characters = sorted(list(set(special_characters)))

print("List of special characters:", special_characters)

List of special characters: ["'", '-', '\x81', '\x82', '\x84', '\x87', '\x89', '\x8d', '\x90', '\x91', '\x93', '\x99', '\x9a', '\x9b', '\x9f', '¡', '¢', '£', '¤', '¦', '§', '¨', '©', '«', '\xad', '¯', '°', '±', '¶', '¸']

Data Cleaning

In [43]:
df_Defense['player'] = df_Defense['player'].replace(replacement_dict, regex=True)
df_Defense['team'] = df_Defense['team'].replace(replacement_dict, regex=True)

In [44]:
df_Defense.to_csv('Player_Defense_Stats.csv', index = False)

#5 Possession Stats

In [45]:
with open('Possession_Stats.json') as f:
  data = json.load(f)

df_Possession = pd.DataFrame(data[0]['Possession_Stats'])
df_Possession.head()

,player,position,team,age,birth_year,minutes_90s,touches,touches_def_pen_area,touches_def_3rd,touches_mid_3rd,touches_att_3rd,touches_att_pen_area,touches_live_ball,dribbles_completed,dribbles,dribbles_completed_pct,miscontrols,dispossessed,passes_received,progressive_passes_received
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,255.0,14.0,62.0,168.0,26.0,0.0,255.0,2.0,3.0,66.7,5.0,4.0,152.0,1.0
1,Aaron Ramsey,MF,Wales,31-357,1990,3.0,147.0,6.0,32.0,73.0,42.0,5.0,147.0,2.0,8.0,25.0,9.0,4.0,98.0,7.0
2,Abdelhamid Sabiri,MF,Morocco,26-020,1996,2.0,86.0,5.0,23.0,50.0,13.0,1.0,86.0,0.0,3.0,0.0,0.0,3.0,54.0,0.0
3,Abdelkarim Hassan,DF,Qatar,29-112,1993,3.0,193.0,15.0,83.0,95.0,17.0,2.0,193.0,1.0,5.0,20.0,2.0,0.0,138.0,1.0
4,Abderrazak Hamdallah,FW,Morocco,48214.000116,1990,0.8,28.0,2.0,2.0,15.0,12.0,5.0,28.0,2.0,3.0,66.7,4.0,3.0,18.0,3.0

Finding Special Characters

In [46]:
player_names = df_Possession["player"]

special_characters = []

# Iterate through each player's name
for player_name in player_names:
    special_chars = re.findall(r'[^\w\s]', player_name)  # Find special characters
    special_characters.extend(special_chars)  # Add special characters to the list

# Remove duplicates and sort the list
special_characters = sorted(list(set(special_characters)))

print("List of special characters:", special_characters)

List of special characters: ["'", '-', '\x81', '\x82', '\x84', '\x87', '\x89', '\x8d', '\x90', '\x91', '\x93', '\x99', '\x9a', '\x9b', '\x9f', '¡', '¢', '£', '¤', '¦', '§', '¨', '©', '«', '\xad', '¯', '°', '±', '¶', '¸']

Data Cleaning

In [47]:
df_Possession['player'] = df_Possession['player'].replace(replacement_dict, regex=True)
df_Possession['team'] = df_Possession['team'].replace(replacement_dict, regex=True)

In [48]:
df_Possession.to_csv('Possession_Stats.csv', index = False)

#6 Passing Stats

In [49]:
with open('Passing_Stats.json') as f:
  data = json.load(f)

df_Passing = pd.DataFrame(data[0]['Passing_Stats'])
df_Passing.head()

,player,position,team,age,birth_year,minutes_90s,passes_completed,passes,passes_pct,passes_total_distance,...,passes_pct_long,assists,xg_assist,pass_xa,xg_assist_net,assisted_shots,passes_into_final_third,passes_into_penalty_area,crosses_into_penalty_area,progressive_passes
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,170.0,217.0,78.3,2819.0,...,58.1,0,0.1,0.1,-0.1,1.0,22.0,1.0,0.0,14.0
1,Aaron Ramsey,MF,Wales,31-357,1990,3.0,88.0,112.0,78.6,1796.0,...,78.3,0,0.0,0.1,0.0,1.0,7.0,1.0,0.0,5.0
2,Abdelhamid Sabiri,MF,Morocco,26-020,1996,2.0,45.0,58.0,77.6,690.0,...,70.0,1,0.9,0.1,0.1,3.0,3.0,0.0,0.0,0.0
3,Abdelkarim Hassan,DF,Qatar,29-112,1993,3.0,122.0,161.0,75.8,2462.0,...,54.1,0,0.0,0.1,0.0,1.0,13.0,1.0,0.0,8.0
4,Abderrazak Hamdallah,FW,Morocco,48214.000116,1990,0.8,8.0,15.0,53.3,64.0,...,NaN,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

Finding Special Characters

In [50]:
player_names = df_Passing["player"]

special_characters = []

# Iterate through each player's name
for player_name in player_names:
    special_chars = re.findall(r'[^\w\s]', player_name)  # Find special characters
    special_characters.extend(special_chars)  # Add special characters to the list

# Remove duplicates and sort the list
special_characters = sorted(list(set(special_characters)))

print("List of special characters:", special_characters)

List of special characters: ["'", '-', '\x81', '\x82', '\x84', '\x87', '\x89', '\x8d', '\x90', '\x91', '\x93', '\x99', '\x9a', '\x9b', '\x9f', '¡', '¢', '£', '¤', '¦', '§', '¨', '©', '«', '\xad', '¯', '°', '±', '¶', '¸']

Data Cleaning

In [51]:
df_Passing['player'] = df_Passing['player'].replace(replacement_dict, regex=True)
df_Passing['team'] = df_Passing['team'].replace(replacement_dict, regex=True)

In [52]:
df_Passing.to_csv('Passing_Stats.csv', index = False)

#7 Shooting Stats

In [53]:
with open('Shooting_Stats.json') as f:
  data = json.load(f)

df_Shooting = pd.DataFrame(data[0]['Shooting_Stats'])
df_Shooting.head()

,player,position,team,age,birth_year,minutes_90s,goals,shots,shots_on_target,shots_on_target_pct,...,average_shot_distance,shots_free_kicks,pens_made,pens_att,xg,npxg,npxg_per_shot,xg_net,npxg_net,goals_per_shot_on_target
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,0,1,0,0.0,...,29.1,0.0,0,0,0.0,0.0,0.05,0.0,0.0,NaN
1,Aaron Ramsey,MF,Wales,31-357,1990,3.0,0,1,0,0.0,...,18.0,0.0,0,0,0.0,0.0,0.04,0.0,0.0,NaN
2,Abdelhamid Sabiri,MF,Morocco,26-020,1996,2.0,0,3,0,0.0,...,34.2,1.0,0,0,0.1,0.1,0.04,-0.1,-0.1,NaN
3,Abdelkarim Hassan,DF,Qatar,29-112,1993,3.0,0,6,0,0.0,...,23.6,0.0,0,0,0.3,0.3,0.05,-0.3,-0.3,NaN
4,Abderrazak Hamdallah,FW,Morocco,48214.000116,1990,0.8,0,2,1,50.0,...,7.8,0.0,0,0,0.4,0.4,0.20,-0.4,-0.4,0.0

Finding Special Characters

In [54]:
player_names = df_Shooting["player"]

special_characters = []

# Iterate through each player's name
for player_name in player_names:
    special_chars = re.findall(r'[^\w\s]', player_name)  # Find special characters
    special_characters.extend(special_chars)  # Add special characters to the list

# Remove duplicates and sort the list
special_characters = sorted(list(set(special_characters)))

print("List of special characters:", special_characters)

List of special characters: ["'", '-', '\x81', '\x82', '\x84', '\x87', '\x89', '\x8d', '\x90', '\x91', '\x93', '\x99', '\x9a', '\x9b', '\x9f', '¡', '¢', '£', '¤', '¦', '§', '¨', '©', '«', '\xad', '¯', '°', '±', '¶', '¸']

Data Cleaning

In [55]:
df_Shooting['player'] = df_Shooting['player'].replace(replacement_dict, regex=True)
df_Shooting['team'] = df_Shooting['team'].replace(replacement_dict, regex=True)

In [56]:
df_Shooting.to_csv('Shooting_Stats.csv', index = False)

#8 Miscellaneous Stats

In [57]:
with open('Miscellaneous_Stats.json') as f:
  data = json.load(f)

df_Miscellaneous = pd.DataFrame(data[0]['Miscellaneous_Stats'])
df_Miscellaneous.head()

,player,position,team,age,birth_year,minutes_90s,cards_yellow,cards_red,cards_yellow_red,fouls,...,crosses,interceptions,tackles_won,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,1,0,0,4,...,10,3,6,0.0,0.0,0,35.0,2.0,3.0,40.0
1,Aaron Ramsey,MF,Wales,31-357,1990,3.0,1,0,0,3,...,5,0,0,0.0,0.0,0,19.0,0.0,2.0,0.0
2,Abdelhamid Sabiri,MF,Morocco,26-020,1996,2.0,1,0,0,2,...,1,5,1,0.0,0.0,0,7.0,2.0,2.0,50.0
3,Abdelkarim Hassan,DF,Qatar,29-112,1993,3.0,0,0,0,1,...,6,1,3,0.0,0.0,0,11.0,3.0,1.0,75.0
4,Abderrazak Hamdallah,FW,Morocco,48214.000116,1990,0.8,0,0,0,3,...,0,0,0,0.0,0.0,0,4.0,1.0,7.0,12.5

Finding Special Characters

In [58]:
player_names = df_Miscellaneous["player"]

special_characters = []

# Iterate through each player's name
for player_name in player_names:
    special_chars = re.findall(r'[^\w\s]', player_name)  # Find special characters
    special_characters.extend(special_chars)  # Add special characters to the list

# Remove duplicates and sort the list
special_characters = sorted(list(set(special_characters)))

print("List of special characters:", special_characters)

List of special characters: ["'", '-', '\x81', '\x82', '\x84', '\x87', '\x89', '\x8d', '\x90', '\x91', '\x93', '\x99', '\x9a', '\x9b', '\x9f', '¡', '¢', '£', '¤', '¦', '§', '¨', '©', '«', '\xad', '¯', '°', '±', '¶', '¸']

Data Cleaning

In [59]:
df_Miscellaneous['player'] = df_Miscellaneous['player'].replace(replacement_dict, regex=True)
df_Miscellaneous['team'] = df_Miscellaneous['team'].replace(replacement_dict, regex=True)

In [60]:
df_Miscellaneous.to_csv('Miscellaneous_Stats.csv', index = False)

#9 Playing Time Stats

In [61]:
with open('Playing_Time_Stats.json') as f:
  data = json.load(f)

df_Playing_Time = pd.DataFrame(data[0]['Playing_Time_Stats'])
df_Playing_Time.head()

,player,position,team,age,birth_year,games,games_starts,games_complete,games_subs,unused_subs,...,on_goals_against,plus_minus,plus_minus_per90,on_xg_for,on_xg_against,xg_plus_minus,xg_plus_minus_per90,plus_minus_wowy,xg_plus_minus_wowy,minutes_per_sub
0,Aaron Long,DF,United States,30-067,1992,0,0,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Mooy,MF,Australia,32-094,1990,4,4,4,0,0,...,6.0,-2.0,-0.50,2.3,7.2,-4.9,-1.23,NaN,NaN,NaN
2,Aaron Ramsdale,GK,England,24-218,1998,0,0,0,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaron Ramsey,MF,Wales,31-357,1990,3,3,2,0,0,...,4.0,-3.0,-1.02,2.6,4.1,-1.5,-0.49,43.98,9.06,NaN
4,Abdelhamid Sabiri,MF,Morocco,26-020,1996,5,2,0,3,2,...,3.0,2.0,0.99,3.1,1.6,1.5,0.90,1.18,1.30,24.0

Finding Special Characters

In [62]:
player_names = df_Playing_Time["player"]

special_characters = []

# Iterate through each player's name
for player_name in player_names:
    special_chars = re.findall(r'[^\w\s]', player_name)  # Find special characters
    special_characters.extend(special_chars)  # Add special characters to the list

# Remove duplicates and sort the list
special_characters = sorted(list(set(special_characters)))

print("List of special characters:", special_characters)

List of special characters: ["'", '-', '.', '\x81', '\x82', '\x84', '\x87', '\x89', '\x8d', '\x90', '\x91', '\x93', '\x99', '\x9a', '\x9b', '\x9f', '¡', '¢', '£', '¤', '¦', '§', '¨', '©', '«', '\xad', '¯', '°', '±', '¶', '¸', '»']

Data Cleaning

In [63]:
df_Playing_Time['player'] = df_Playing_Time['player'].replace(replacement_dict, regex=True)
df_Playing_Time['team'] = df_Playing_Time['team'].replace(replacement_dict, regex=True)

In [64]:
df_Playing_Time.to_csv('Playing_Time_Stats.csv', index = False)